<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687103159049-9staplkmem0ij347t2qso7i0rc5ha4om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687103159049-9staplkmem0ij347t2qso7i0rc5ha4om</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>687103159049-9vlua8hklq5pc7prcg90hbffp9d3bo06.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvoYgio3oH-bAOOJWBjqNGDUlm1lrk5GM</string>
	<key>GCM_SENDER_ID</key>
	<string>687103159049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mpgu.sdo</string>
	<key>PROJECT_ID</key>
	<string>jk-vg-app</string>
	<key>STORAGE_BUCKET</key>
	<string>jk-vg-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687103159049:ios:78b6fb808f36323904c1d8</string>
</dict>
</plist>